.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card {
  width: 115px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card.flipped .card-inner {
  transform: rotateY(360deg);
}

.card.default {
  background-color: gray;
}

.card-front {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back {
  position: absolute;
  background-color: gray;
  backface-visibility: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}